:root {
    --dark-grey: #282725;
    --light-grey: #e6e6e6;
    --orange: #ffb000; 
    --red: #c1272d;
    --green: #009245;
    --link: #0071BC;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Sarabun', sans-serif;
    margin: 0;
}

.megacontainer {
    width: 100%;
    display: flex;
    /* overflow: hidden !important; */
}