.Avatar {
  border-radius:1000px;
  background-color: #fc0fc0;
}
.Avatar.large{
  width:95px;
  height:95px;
}
.Avatar.medium{
  width:60px;
  height:60px;
}
.Avatar.small {
  width:53px;
  height:53px;
}
.Avatar.xsmall {
  width:37px;
  height:37px;
}