.BackButton {
  flex: 1;
  text-align: left;
  visibility: visible;
  text-decoration: none;
  position: absolute;
  top: 12px;
  left: 0;
}
.BackButton img {
  height: 32px;
  width: 32px;
  border-radius: 0;
  padding: 6px;
}
