.Chat-container {
  width: 100%;
  height: auto;
  min-height: 600px;
  background-image: url("../assets/bg-orange.svg");
  /* //display: none; */
  position: relative;
  right: 0;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.Chat {
  margin-top: 60px;
  position: relative;
  padding: 15px 12.5px 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
}

.Chat-message {
  border-radius: 8px;
  max-width: 75%;
  font-size: 17px;
  margin-bottom: 15px;
  position: relative;
}

.Chat .Chat-message-box {
  width: 100%;
}

.Chat-message-received {
  color: var(--dark-grey);
  align-self: flex-start;
  background-color: #fff;
}
.Chat-message-sent {
  color: #fff;
  align-self: flex-end;
  background-color: var(--dark-grey);
  animation: animateMessageRight ease-out 0.3s;
  animation-iteration-count: 1;
}
.Chat-message-time {
  font-size: 8px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: auto;
  line-height: 12px;
  margin-top: 5px;
}
.Chat-message-text {
  padding: 10px 45px 12px 15px;
  white-space: normal;
  word-break: break-word;
}
.Chat-message-img {
  padding: 7px 8px 20px 8px;
  max-width: 100%;
  border-radius: 4px;
}

.page-singlechat .header-single-chat,
.page-singlechat .input-keyboard {
  width: 100%;
}
.input-keyboard {
  width: 100%;
  background-color: var(--light-grey);
  padding: 8px;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
#input-keyboard {
  width: 90%;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 10px;
  padding-right: 50px;
  position: relative;
}
.input-keyboard img {
  position: absolute;
  width: 44px;
  height: 44px;
  padding: 12px;
  z-index: 2;
}

#send-icon {
  right: 5px;
  bottom: 5px;
}

#attachment-icon {
  right: 40px;
  bottom: 6px;
}

@media (min-width: 768px) and (orientation: portrait) {
  #send-icon {
    right: 5px;
    bottom: 5px;
  }
  #attachment-icon {
    right: 40px;
    bottom: 6px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #send-icon {
    right: 7px;
    bottom: 5px;
  }
  #attachment-icon {
    right: 60px;
    bottom: 5px;
  }
  .Chat-container {
    width: 50%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    flex: 2;
  }
  .input-keyboard {
    width: 50%;
  }
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ddd;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  #send-icon {
    right: 15px;
    bottom: 5px;
  }
  #attachment-icon {
    right: 75px;
    bottom: 5px;
  }
}
