.HeaderChat {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
}
.HeaderChat-back {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100px;
}
.HeaderChat-back-arrow {
  width: 30px;
  height: 30px;
}

.HeaderChat-functions {
  display: flex;
  height: 60px;
  width: 100px;
}
.HeaderChat-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 50px;
}

.HeaderChat-search.open {
  width: calc(100% - 150px);
}

.HeaderChat-menu {
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 50px;
}
.HeaderChat-user {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HeaderChat-user-name {
  font-weight: 600;
  font-size: 19px;
  color: var(--dark-grey);
  line-height: 19px;
}

.HeaderChat-user-status {
  font-size: 11px;
  color: var(--dark-grey);
}
