.HeaderChat {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 60px;
}
.HeaderChat-back {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100px;
  padding-left: 10px;
  position: absolute;
}
.HeaderChat-back-arrow {
  width: 20px;
  height: 20px;
}

.HeaderChat-functions {
  display: flex;
  height: 60px;
  width: 100px;
}
.HeaderChat-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 50px;
}

.HeaderChat-search.open {
  width: calc(100% - 150px);
}

.HeaderChat-menu {
  justify-content: center;
  align-items: center;
  width: 50px;
  position: absolute;
  right: 0;
}
.HeaderChat-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HeaderChat-user-name {
  font-weight: 600;
  font-size: 19px;
  color: var(--dark-grey);
  line-height: 19px;
  margin-left: 40px;
}

.HeaderChat-user-status {
  font-size: 11px;
  color: var(--dark-grey);
}

@media (min-width: 768px) and (orientation: portrait) {
  .HeaderChat-user-name {
    font-weight: 600;
    font-size: 22px;
    color: var(--dark-grey);
    line-height: 19px;
    margin-left: 140px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .HeaderChat-user-name {
    font-weight: 600;
    font-size: 19px;
    color: var(--dark-grey);
    line-height: 19px;
    margin-left: 70px;
  }
  .HeaderChat-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 50px;
  }
}
