.Header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 7.5px 12.5px;
  background-color: #fff;
  position: fixed;
  z-index: 5;
  width: 100%;
  left: 0;
}
.Header > .Header-pic-and-logo {
  display: flex;
  flex: 100%;
}
.Header > .Header-profile-pic,
.Header > .Header-backbutton {
  flex: 1;
  text-align: left;
  visibility: visible;
  text-decoration: none;
}
.Header-logo {
  flex: 8;
  text-align: center;
  flex-grow: 1;
  position: absolute;
  top: 11px;
  width: 100%;
  left: 0;
}
.Header-logo img {
  height: 25px;
  position: relative;
}
.Header-profile-pic {
  z-index: 5;
  position: relative;
}
.Header-search {
  width: 50px;
  height: 50px;
}
.Header-hidden {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .TabBar {
    width: 300px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .Header {
    padding: 0px;
    position: fixed;
    width: calc(100% - 110px);
    z-index: 5;
    left: 0;
    margin-left: 110px;
    display: flex;
    justify-content: center;
    height: 60px;
  }
  .tabletMessage .Header {
    width: calc(50% - 110px);
  }
  .Header-logo img {
    left: 0;
  }
}
