.ProfileHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7.5px 20px;
  background-color: #fff;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  height: 52px;
}
.Profile-pic {
  position: relative;
  width: 95px;
}
.Profile-pic::after {
  content: "Edit";
  position: absolute;
  z-index: 14;
  bottom: -15px;
  width: 100%;
  color: var(--link);
  font-size: 12px;
  text-align: center;
}
.Profile-pic-and-logout-area {
  display: flex;
}
.ProfileLogo {
  width: 100%;
  text-align: center;
}
.ProfileLogo img {
  width: auto;
  height: 25px;
  position: relative;
}
.Profile-logout-area {
  margin-left: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.Profile-settings {
  padding-top: 52px;
  display: flex;
  width: 100%;
}
.ProfileContainer {
  position: relative;
  padding: 0px 16px 20px 16px;
  width: 100%;
}
.Profile-container {
  position: relative;
  padding-top: 20px;
}
.Profile-logout-link {
  position: relative;
  top: 5px;
  color: var(--link);
}
.Profile-settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}
.Profile-settings-header {
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: -5px;
  font-weight: 600;
}
.Profile-settings .Profile-form-item,
.Profile-settings-area .Profile-form-item {
  width: 100%;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  position: relative;
  align-items: center;
}
.Profile-settings .Profile-password-settings .Profile-form-item > * {
  flex: 3;
}
.Profile-settings .Profile-form-item-first,
.Profile-settings-area .Profile-form-item-first {
  border-top: 0.5px solid grey;
}
.Profile-settings input {
  margin-left: 10px;
  border: none;
  width: 80px;
  font-size: 16px;
  font-family: Sarabun;
}
.ProfileBackButton {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
}
/*PASSWORD VISIBILITY TOGGLE*/
.visibility,
.no-visibility {
  height: 20px;
  margin-left: auto;
  text-align: right;
  padding-right: 5px;
  flex: 1 !important;
}

.visibility img {
  height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  border: 1px solid #ccc;
  height: 25px;
  width: 25px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: -4px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  border: 1px solid #2196f3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px) and (orientation: landscape) {
  .ProfileContainer {
    padding: 0px 30px 20px 30px;
    width: calc(100% - 110px);
    margin-left: 110px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .ProfileContainer {
    position: relative;
    padding: 0px 16px 20px 16px;
    width: 100%;
    margin-left: 110px;
}
}