.TabBar {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 0 0;
  justify-content: space-around;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #fff;
  line-height: 26px;
  color: var(--dark-grey);
}

.TabBar > .active span {
  display: none;
}
.TabBar > .active img {
  display: flex;
  align-self: center;
}

.TabBar > a {
  flex: 3;
  opacity: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--dark-grey);
}

.TabBar-Icon {
  width: 25px;
  height: 25px;
  display: none;
}

.TabBar-hidden {
  display: none !important;
}
