.TabBar {
  display: flex;
  padding: 10px 0 0;
  /* justify-content: space-around; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #fff;
  line-height: 26px;
  color: var(--dark-grey);
}

.Tab-element {
  width: Calc(100% / 3);
  display: flex;
  justify-content: center;
}

.TabBar-Icon {
  width: 25px;
  height: 25px;
  display: flex;
}

.TabBar-hidden {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .TabBar {
    display: none;
  }
}
