.workspace {
    width: 50px;
    height: auto;
    background-color: var(--dark-grey);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    transition: all 1s;
    margin-right: 12.5px;
}

.stocazzo {
    width: 100px;
    background-color: blue;
}