:root {
    --dark-grey: #282725;
    --light-grey: #e6e6e6;
    --orange: #ffb000;
    --red: #c1272d;
    --green: #009245;
    --link: #0071BC;
}

body {
    margin:0;
}
*:focus {
    outline: none;
}
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Sarabun;
}

@keyframes animateCard{
    0% {
        opacity:1;
        transform:  translate(0px,150px);
        z-index: 101;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
        z-index: 101;
    }
}

@keyframes animateMessageRight {
    0% {
        opacity:1;
        transform:  translate(50px,0px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
    }
}
